/* style.css - Basic styles for portfolio website */
/* CSS HEX */
:root {
  /*Background gradient colors*/
  --space-indigo: #25283dff;
  --icy-aqua: #bcf8ecff;
  /*Accent colors*/
  --light-blue: #aed9e0ff;
  --lavender-grey: #9fa0c3ff;
  --dusty-mauve: #9a7aa0ff;
  --cotton-rose: #ceabb1ff;
}

body {
  background: linear-gradient(135deg, var(--space-indigo), var(--icy-aqua));
  color: #242121;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
/* Header styles */
.header {
  padding: 20px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--cotton-rose)
}
.header img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #ccc;
  flex-shrink: 0;
  margin-left: auto;
}

/* Navigation bar styles */
nav {
  color: #ccc;
  background-color: var(--space-indigo);
  display: flex;
  padding: 10px 0;
}
/* Change link color when hovered */
.nav-link:hover {
  color: #ef8354; /* Accent color on hover */
}

/* Card styles */
.card {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 15px;
  width: 40%;
}


.contact-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}

.contact-cards .card {
  flex: 1;
  min-width: 280px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  .header img {
    margin: 0;
  }
}
