/* style.css - Basic styles for portfolio website */
/* CSS HEX */
:root {
  /*Background gradient colors*/
  --space-indigo: #25283d;
  --nav-background: rgba(37, 40, 61, 0.8);
  --icy-aqua: #bcf8ecff;
  /*Accent colors*/
  --light-blue: #aed9e0ff;
  --lavender-grey: #9fa0c3ff;
  --dusty-mauve: #9a7aa0ff;
  --cotton-rose: #ceabb1ff;
}

body {
  background: linear-gradient(135deg, var(--space-indigo), var(--icy-aqua));
  color: #242121;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-padding-top: 80px;
}
/* Header styles */
.header {
  display: flex;
  align-items: center;
  color: var(--cotton-rose);
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center;
  font-size: larger;
}
.header p {
  color: var(--lavender-grey);
}
.header img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #ccc;
  flex-shrink: 0;
  /* margin-right: 300px; */
}
.header #learn-more-row {
  margin-top: 350px;
}

/* Navigation bar styles */
.navbar {
  background-color: var(--nav-background);
  display: flex;
  padding: 10px 0;
}
/* Change link color when hovered */
.nav-link:hover {
  color: var(--cotton-rose); /* Accent color on hover */
}
section {
  scroll-margin-top: 250px;
}
/* Main content styles */
.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.main h2 {
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

.solid-divider {
  border: none;
  height: 4px;
  background-color: var(--light-blue);
  margin: 80px 0;
}

#name-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.education-logo {
  width: 40%;
  height: auto;
}

/* Card styles */
.card {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 15px;
  flex: 1;
  min-width: 280px;
}
#mail-card:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

#linkedin-card:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

#skills-card {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

.contact-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}

/* Footer styles */
.footer {
  text-align: center;
  color: var(--space-indigo);
  position: relative;
  width: 100%;
  margin-top: 120px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  .header img {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .contact-cards {
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 900px) {
  .main {
    padding: 10px;
  }
}